<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958673000873-qgee68bf5i9vfa4ieus5dbj68n1ema7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958673000873-qgee68bf5i9vfa4ieus5dbj68n1ema7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958673000873-olstibrnuchap5hcpnl6ur8vpv66ci2b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXqOb5pXfxeebGaeNKQbpKa_5HSuEp7S4</string>
	<key>GCM_SENDER_ID</key>
	<string>958673000873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photogallery</string>
	<key>PROJECT_ID</key>
	<string>my-public-gallery</string>
	<key>STORAGE_BUCKET</key>
	<string>my-public-gallery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958673000873:ios:cfb734fa4a52056fee4cb8</string>
</dict>
</plist>